<link rel="stylesheet" href="/css/Entry.css" />

<div class="form-group mb-4 entry-container">
    <label for="@Id" class="entry-label">
        @Label
    </label>
    <input id="@Id" type="@Type" class="form-control shadow-sm entry-input" placeholder="@Placeholder" 
        value="@Value" @oninput="OnInputChanged" />
</div>

@code {
    [Parameter] public string Type { get; set; } = "text";
    [Parameter] public string Label { get; set; } = string.Empty;
    [Parameter] public string Placeholder { get; set; } = string.Empty;
    [Parameter] public string Value { get; set; } = string.Empty;
    [Parameter] public EventCallback<string> ValueChanged { get; set; }

    private string Id => Guid.NewGuid().ToString();

    private async Task OnInputChanged(ChangeEventArgs e)
    {
        Value = e.Value?.ToString() ?? string.Empty;
        await ValueChanged.InvokeAsync(Value);
    }
}